.player{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.player img{
    position:fixed;
    top: 70px;
    left: 10px;
    width: 50px;
    cursor: pointer;
}

.player iframe{
    border-radius: 10px;
    margin-top:10px ;
}

.player-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.description {
  width: 90%;
  max-width: auto; 
  margin: auto auto 0 auto;
  color: #fff;
}